.section-formacao {
    background: #FFFFFF;
    margin: 40px auto 10px;
    width: 100%;
}

/* Page Header */
.page-header-formacao {
    padding: 0 40px;
	max-width: 960px;
	margin: auto;
    }
    .page-header-formacao h2 {
        line-height: 0.88rem;
		text-align: center;
		padding: 1em;
		border-top: 4px solid #ccc;
        }

.descricao-formacao {
	padding: 2em 1em 0;
	font-size: 0.9em;
	font-weight: 300;
}